.home__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule--container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  background-color: white;
  margin-top: -136px;
  z-index: 1;
  border-radius: 25px;
  box-shadow: -1px 1px 6px -1px #000000;
  padding-bottom: 48px;
  margin-bottom: 96px;
}

.schedule__header--main {
  font-size: 36px;
  position: relative;
}

.schedule__list {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.schedule__list > .schedule:not(:last-child) {
  border-right: #c5c6ca ridge 1px;
}

.schedule__header {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
}
.schedule {
  width: calc(100% / 4);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.schedule__para--container {
  text-align: center;
}
.schedule__para--container > p {
  margin: 8px 0;
}

.location {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 160px;

  max-width: 1400px;
}

.location__left--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px ridge #c5c6ca;
  width: 100%;
}

.location__header {
  font-size: 36px;
  margin-bottom: 24px;
}
.location__address--container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.location__address {
  font-size: 26px;
}

.location__direction {
  color: black;
  font-size: 26px;
  text-decoration: underline;
  margin-top: 16px;
  width: 100%;
}

.map__container {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

@media (max-width: 1400px) {
  .schedule--container {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .schedule__header--main {
    font-size: 30px;
  }
  .schedule__header {
    font-size: 18px;
  }
  .location {
    width: 100%;
  }
  .map__container {
    min-height: 350px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 768px) {
  .map__container {
    min-height: 300px;
    margin-left: 48px;
    margin-right: 48px;
  }
  .schedule--container {
    max-width: 600px;
    padding-top: unset;
    padding-bottom: unset;
  }
  .schedule__header--main {
    font-size: 26px;
  }
  .schedule__list {
    margin-top: 16px;
  }
  .schedule__header {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .schedule__para--container > p {
    font-size: 16px;
  }
  .location__address--container {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }
  .location__header {
    font-size: 34px;
  }
  .location__address,
  .location__direction {
    font-size: 22px;
  }
  .schedule__list {
    flex-direction: column;
    align-items: center;
  }
  .schedule {
    width: 100%;
    padding: 34px;
    margin-bottom: unset;
  }
  .schedule__list > .schedule:not(:last-child) {
    border-right: none;
    border-bottom: #c5c6ca ridge 1px;
  }
  .schedule__header--main {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 550px) {
  .schedule--container {
    max-width: 90%;
  }
}
