.home__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule--container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  background-color: white;
  margin-top: -136px;
  z-index: 1;
  border-radius: 25px;
  box-shadow: -1px 1px 8px -1px #000000;
  padding-bottom: 48px;
  margin-bottom: 96px;
}

.schedule__header--main {
  font-size: 28px;
  position: relative;
  font-family: "Gotham Light", sans-serif;
}

.schedule__header--main::after {
  position: absolute;
  border-bottom: #c5c6ca ridge 1px;
  bottom: -10%;
  left: 50%;
  width: 0%;
  content: "";
  animation: borderBottom 1s 2s ease-in forwards;
}
.schedule__header--main::before {
  position: absolute;
  border-bottom: #c5c6ca ridge 1px;
  bottom: -10%;
  right: 50%;
  content: "";
  width: 0;
  animation: borderBottom 1s 2s ease-in forwards;
}

@keyframes borderBottom {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.schedule__list {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.schedule__list > .schedule:not(:last-child) {
  border-right: #c5c6ca ridge 1px;
}

.schedule__header {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 24px;
}
.schedule {
  width: calc(100% / 4);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.schedule__para--container {
  text-align: center;
}
.schedule__para--container > p {
  margin: 8px 0;
}

@media (max-width: 1400px) {
  .schedule--container {
    max-width: 1000px;
  }
}



