.carousel {
  height: 80%;
  position: relative;
}
.carousel__slides {
  height: 100%;
}
.carousel__image--container {
  width: 100%;
  height: 100%;
  max-height: 860px;
  overflow: hidden;
  position: relative;
}
.carousel__image {
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  object-fit: cover;
  position: absolute;
}

.landing {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.landing__header--container {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

/* .border {
  border-image: url(../assets/border.png);
  border-style: solid;
  border-width: 35px;
  border-image-slice: 120;
  border-image-repeat: round stretch;
  border-left: none;
  border-right: none;
  border-top: none;
  filter: invert();
} */

.landing__header--container h1 {
  margin-right: 16px;
  font-size: 60px;
  opacity: 0;
  animation: appear 2500ms ease-in forwards;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
}
.landing__header--container h1:nth-of-type(1) {
  animation-delay: 1s;
}
.landing__header--container h1:nth-of-type(2) {
  animation-delay: 1.2s;
}
.landing__header--container h1:nth-of-type(3) {
  animation-delay: 1.4s;
  margin-right: unset;
}
.landing__header--container h1:nth-of-type(4) {
  animation-delay: 1.5s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing__info--para {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.landing__button--container {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.learn__button {
  border: 1px solid white;
  padding: 22px;
  border-radius: 15px;
  transition: all 250ms ease;
  margin-bottom: 32px;
}
.learn__button:hover {
  background-color: rgba(190, 187, 187, 0.63);
}

@media (max-width: 768px) {
  .landing__info--para {
    font-size: 20px;
  }

 .learn__button{
    padding: 18px;
  }

  .landing__header--container h1 {
    font-size: 56px;
  }
}

@media (max-width: 550px) {
  .landing__header--container h1 {
    font-size: 46px;
  }
  .landing__header--container {
    margin-bottom: 40px;
  }
  .landing__info--para {
    font-size: 16px;
    line-height: 20px;
  }
  .landing__button--container {
    margin-top: 48px;
  }
}
